.sf-menu {
    text-align: center;
    border-top: 1px solid #055aa0;
    border-bottom: 1px solid #055aa0;
    margin-bottom: 50px;
    line-height: 0;
}
.sf-menu > li { 
    padding: 12px 20px 10px;
}
.sf-menu > li > a{ 
    padding: 0;
}
.sf-menu a, .sf-menu a:hover{
    font-family: 'Josefin Sans', sans-serif;
    color: #055aa0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    line-height: normal;
}

.sf-menu a:hover{
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}